<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Hello World From Rpm Package</display-name>
    <servlet>
        <servlet-name>HelloWorldServlet</servlet-name>
        <display-name>Hello World</display-name>
        <servlet-class>org.frank.sbt.rpm.HelloWorldServlet</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloWorldServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
